/* phone.css */

.tab-btn {
    background-color: blue;
    color:#fff;
}

.submit-btn {
    background-color: rgb(57, 202, 57);
    color: #fff;
}

.dial-btn {
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
}