/* phone-large.css */

.tab-btn {
    width: 180px;
    height: 50px;
    font-size: 40px;
    background-color: black;
    color:#fff;
}

#dialerText {
    margin: 20px;
    width: 620px;
    height: 80px;
    color: black;
    font-size: 67px;
}

.submit-btn {
    background-color: rgb(57, 202, 57);
    color: #fff;
}

.dial-btn {
    margin: 20px;
    width: 180px;
    height: 180px;
    background-color: black;
    color: #fff;
    font-size: 70px;
}

.dial-and-clear {
    margin: 20px;
    width: 290px;
    height: 180px;
    background-color: rgba(0, 128, 2, 0.863);
    color: #fff;
    font-size: 70px;
}

.gesture-area {
    width: 300px;
    height: 300px;
    background-color: red;
    color: black;
}
